body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 70px;
}

.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

p{
    color: grey;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

.half-width img{
    width: 90%;
    padding-right: 50px;
}

.btn{
    text-decoration: none;
    background: orange;
    color: white;
    background-image: linear-gradient(60deg, salmon, orange);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 15px 5px 15px grey;
}

.top-banner{
    background-image: url(../image/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(../image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiences-items{
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    font-size: 20px;
    box-shadow: 10px 10px 40px grey;   
}

#pro{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, orange);
    border-image-slice: 1;
}

#baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.experiences{
    background-image: url(../image/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 2px;
}

footer{
    text-align: center;
    font-size: 25px;
}

